<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

<body>

	<h1>Visualizing the Stock Tweets Community with D3</h1>
	<div id="main" role="main">
      <div id="view_selection" class="btn-group">
        <a href="#" id="follow" class="btn">Followers</a>
        <a href="#" id="retweet" class="btn">Retweets</a>
        <a href="#" id="mention" class="btn">Mentions</a>
      </div>
    </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script src="http://d3js.org/d3.v2.min.js?2.9.1"></script>
<script src="../static/js/bubbles.js"></script>
</body>
